body {
    text-align: center;
    color: rgb(8, 10, 9);
    overflow-x: hidden;
}

#pozadina {
    overflow-y: hidden;
    opacity: 0.2;
    z-index: -1;
    position: absolute;
    top: 0;
    position: sticky;
    width: auto;
    height: auto;
    margin-left: -30px;
}

main {
    margin-top: -1500px;
}

input {
    margin: 3px;
}

select {
    margin: 3px;
}

body main p {
    font-size: 5mm;
}

button {
    background-color: lightblue;
    padding: 15px 32px;
    border-radius: 8px;
    border-color: rgb(147, 159, 229);
    font-size: 5mm;
}